In [19]:
import glob
import requests
import pandas as pd
from datetime import datetime

In [20]:
bank_market_cap_1 = requests.get("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json")

bank_market_cap_2 = requests.get("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json") 

exchange_rates = requests.get("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv")

In [21]:
with open("bank_market_cap_1.json", mode="wb") as file:
    file.write(bank_market_cap_1.content)
    
with open("bank_market_cap_2.json", mode="wb") as file:
    file.write(bank_market_cap_2.content)
    
with open("exchange_rates.csv", mode="wb") as file:
    file.write(exchange_rates.content)

In [22]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [23]:
def extract():
    # Write your code here
    extracted_data = pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    for jsonfile in glob.glob("bank_market_cap_1.json"):
        #global extracted_data
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    return extracted_data

In [24]:
# Write your code here
df = pd.read_csv("exchange_rates.csv")
exchange_rate = df.loc[df.iloc[:,0] == "GBP"]
#extracted_data["Market Cap (US$ Billion)"] = extracted_data["Market Cap (US$ Billion)"] * 5
exchange_rate_value = exchange_rate.loc[9, "Rates"]
exchange_rate_value

0.7323984208000001

In [25]:
def transform(data):
    # Write your code here
    global exchange_rate_value
    #data.iloc[:, 1] = data.iloc[:, 1] * exchange_rate
    data['Market Cap (US$ Billion)'] = data['Market Cap (US$ Billion)'] * exchange_rate_value
    data['Market Cap (US$ Billion)']= round(data['Market Cap (US$ Billion)'],3)
    #print(data['Market Cap (US$ Billion)'])
    data=data.rename(columns={"Market Cap (US$ Billion)":"Market Cap (GBP$ Billion)"},inplace=False)
    return data
    
transform(extract())

C:\Users\Imad Harir\AppData\Local\Temp\ipykernel_4368\2736706470.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)

                                       Name  Market Cap (GBP$ Billion)
0                            JPMorgan Chase                    286.319
1   Industrial and Commercial Bank of China                    252.834
2                           Bank of America                    238.272
3                               Wells Fargo                    225.588
4                   China Construction Bank                    188.519
..                                      ...                        ...
65                             Ping An Bank                     27.826
66                       Standard Chartered                     27.332
67                     United Overseas Bank                     25.728
68                                QNB Group                     24.579
69                              Bank Rakyat                     24.228

[70 rows x 2 columns]

In [26]:
def load(data):
    df.to_csv("bank_market_cap_gbp.csv", index=False)

In [27]:
def log(message):
    timestamp_format='%Y-%h-%d-%H:%M:%S'
    now=datetime.now()
    timestamp=now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp+','+message+'\n')

In [28]:
log("ETL Job Started")
log("Extract phase Started")

In [29]:
extract()
extract().head(5)

C:\Users\Imad Harir\AppData\Local\Temp\ipykernel_4368\2736706470.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
C:\Users\Imad Harir\AppData\Local\Temp\ipykernel_4368\2736706470.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [30]:
log("Extract phase Ended")

In [31]:
log("Transform phase Started")

In [32]:
transform(extract())
transform(extract()).head(5)

C:\Users\Imad Harir\AppData\Local\Temp\ipykernel_4368\2736706470.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
C:\Users\Imad Harir\AppData\Local\Temp\ipykernel_4368\2736706470.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

In [33]:
log("Transform phase Ended")

In [34]:
log("Load phase Started")

In [35]:
load(transform(extract()))

C:\Users\Imad Harir\AppData\Local\Temp\ipykernel_4368\2736706470.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)

In [36]:
log("Load phase Ended")